{% extends 'base.html.twig' %}

{% block title %}My characters{% endblock %}

{% block characterActive %}active{% endblock %}

{% block body %}
	<div class="row">
		{% for character in characterList %}
			<div class="col-lg-4" style="padding:10px;">
				<div class="card text-center text-white bg-primary mb-3" style="height:100%; max-height:500px">
					<div class="card-head"><h3>{{ character.name | title }}</h3></div>
					<div class="card-body">
						<div class="card-title">
							<h5>Lvl {{ character.level }}</h5>
							<h5>{{ character.race.name }} {{ character.job.name }}</h5>
						</div>
						<div class="card-text" style="overflow:auto;">
							<p>{% if character.description %}{{ character.description }}{% else %}Pas de description{% endif %}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
