{% extends 'base.html.twig' %}

{% block title %}My characters{% endblock %}

{% block characterActive %}active{% endblock %}

{% block stylesheets %}
	<style>
		i{
			color:white;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container text-center">
			<div class="btn-group" role="group">	
				<a href="{{ path("character_list_sorted", {'field': 'favorite'}) }}" class="btn btn-{% if orderedBy != 'favorite' %}outline-{% endif %}secondary">Order by favorite</a>
				<a href="{{ path("character_list_sorted", {'field': 'name'}) }}" class="btn btn-{% if orderedBy != 'name' %}outline-{% endif %}secondary">Order by name</a>
				<a href="{{ path("character_list_sorted", {'field': 'race'}) }}" class="btn btn-{% if orderedBy != 'race' %}outline-{% endif %}secondary">Order by race</a>
				<a href="{{ path("character_list_sorted", {'field': 'job'}) }}" class="btn btn-{% if orderedBy != 'job' %}outline-{% endif %}secondary">Order by class</a>
			</div>
	</div>
	<div class="row">
		{% for character in characterList %}
			<div class="col-lg-4" style="padding:10px;">
				<div class="card text-center text-white bg-primary mb-3" style="height:100%; max-height:500px">
					<div class="card-head"><h3>{{ character.name | title }}</h3></div>
					<div class="card-body">
						<div class="card-title">
							<h5>Lvl {{ character.level }}</h5>
							<h5>{{ character.race.name }} {{ character.job.name }}</h5>
						</div>
						<div class="card-text" style="overflow:auto">
							<p>{% if character.description %}{{ character.description }}{% else %}No description{% endif %}</p>
						</div>
					</div>
					<div class="card-footer">
						<a href="{{ path("character_detail", {'id': character.id}) }}" class="btn btn-secondary float-left align-self-end">Detail</a>
						<a href="{{ path("character_favorite", {'id': character.id, 'field': orderedBy }) }}">{% if character.favorite %}<i class="fas fa-star fa-lg align-bottom"></i>{% else %}<i class="far fa-star fa-lg align-bottom"></i>{% endif %}</a>
						<a href="{{ path("character_edit", {'id': character.id}) }}" class="btn btn-warning float-right">Edit</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
